
{% extends "base.html" %}

{%  block body %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div id="call-task-template" data-task-type="call">
                Sample Call Task
                <div class="input-group">
                  <span class="input-group-addon">Phone Number</span>
                  <input type="text" class="form-control" placeholder="Phone Number" aria-describedby="basic-addon1" id="phone-number">
                </div>
                <br>
                <div class="input-group">
                  <span class="input-group-addon">Name</span>
                  <input type="text" class="form-control" placeholder="Name" aria-describedby="basic-addon1" id="name">
                </div>
                <br>
                <div class="input-group">
                  <span class="input-group-addon">Script</span>
                    <textarea type="text" class="form-control" placeholder="Script" aria-describedby="basic-addon1" id="script"></textarea>
                </div>
                <br>
                <div class="input-group">
                      <input type="text" class="form-control" placeholder="Add Response Option..." id="response-option-input">
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="button" id="add-new-option">+</button>
                      </span>
                </div>
                <div>
                    <ul class="list-group" id="entered-response-options">
                    </ul>
                </div>
                <button class="btn btn-success" id="post-btn">Post!</button>
                <div id="response-data">

                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        API_KEY = 'TEST';
        $("#phone-number").val("123456789");
        $("#name").val("John Doe");
        $("#script").val("How are you feeling today?");

        $("#add-new-option").click(function(){
            $li = $('<li class="list-group-item">').html($("#response-option-input").val());
            $("#entered-response-options").append($li);
            $("#response-option-input").val("");
        });

        $("#post-btn").click(function(){
            $("#post-btn").prop('disabled', true);//disable button on click to decrease chance of repeated posting

            var task_type = $("#call-task-template").data("task-type");
            var phone_number = $("#phone-number").val();
            var name = $("#name").val();
            var script = $("#script").val();
            var responses = $.map($("#entered-response-options").children(),function(el){return $(el).text() });
            var data = JSON.stringify({
                    task_type: task_type,
                    phone_number: phone_number,
                    name: name,
                    script: script,
                    responses: responses
            });

            //Because the responses array gets truncated if you post it directly, we first convert it to a string then
            //decode the json server side

            var post_action = $.post('/add_task/' + API_KEY, {data: data});
            post_action.done(function(data){
                $("#response-data").html("<pre>Posted Task ID: "+ data + "</pre>");
            });
            post_action.fail(function(data){
                $("#post-btn").prop('disabled', false);

            })

        })
    })
</script>
{% endblock %}


