
{% extends "base.html" %}

{%  block body %}
<div class="container">
    <div class="row">
        <div class="col-md-6">

            <table class="table">

            <tr>
                <th> task id  </th>
                <th> task type</th>
                <th> file_name </th>
                <th> script </th>
                <th> Comment </th>
                <th> Is Complete </th>

            </tr>
            {% for task in data %}
                <tr>
                    <td><a href="/work_task/{{ task.eid }}">{{ task.eid }}</a></td>
                    <td>{{ task.task_type }}</td>
                    <td>{{ task.file_name }}</td>
                    <td>{{ task.script }}</td>
                    <td>{{ task.comment  }}</td>
                    <td>{{ task.solved }}</td>

                </tr>
            {% endfor %}

            </table>
        </div>
    </div>
</div>
{%  endblock %}